* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-screen,
.app-screen {
  width: 100vw;
  height: 100vh;
  background-image: url(/public/images/login_screen.jpg);
  background-position-y: 10px;
  background-position-x: -190px;
}

.app-screen {
  /* background: rgb(39, 85, 171); */
  /* padding-top: 60px; */
  padding-top: 6%;
  background: rgb(107, 144, 34);
}

.login-screen {
  padding-top: 15%;
}

.login-container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  color: antiquewhite;
  margin-bottom: 25px;
  font-family: 'Foldit';
  font-weight: 500;
  font-size: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  width: 400px;
  height: 50px;
  padding-left: 20px;
  padding-right: 50px;
  background: none;
  color: antiquewhite;
  font-size: 17px;
  letter-spacing: 3px;
}

.login-form input::placeholder {
  color: rgba(250, 235, 215, 0.66);
  font-size: 14px;
}

.login-form input:focus {
  outline: none;
}

.login-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.password-input {
  position: relative;
}

.password-hide {
  position: absolute;
  top: 14px;
  right: 15px;
  cursor: pointer;
}

.password-hide img {
  width: 22px;
}

.loginContainer-buttons {
  display: flex;
  justify-content: space-between;
}

.login-button button {
  width: 150px;
  height: 40px;
  font-family: 'Comme';
  font-weight: 900;
  background: rgba(235, 142, 20, 0.896);
  cursor: pointer;
  border: 1px solid rgb(147, 87, 8);
}

.login-button button:active {
  background: rgba(235, 142, 20, 0.637);
}

.registration-button {
  position: relative;
  top: -10px;
  left: -10px;
}

.registration-button span {
  color: rgba(250, 235, 215, 0.753);
  cursor: pointer;
  font-family: 'Comme';
  font-weight: 100;
  font-size: 14px;
}

.registration-button span:active {
  color: rgba(249, 218, 177, 0.525);
}

.app-container {
  margin: 0 auto;
  max-width: 800px;
  min-height: 400px;
  padding: 40px;
  background: rgb(255, 197, 24);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exit-button {
  width: 100px;
  height: 40px;
  color: aliceblue;
  background: rgb(168, 39, 19);
  cursor: pointer;
}

.mainMenu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.mainMenu-buttons span {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: 'Architects Daughter';
}

.mainMenu-buttons span:hover {
  cursor: pointer;
  color: rgb(107, 144, 34);
}

.loadCharacter-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loadCharacter-form input {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 20px;
  color: rgb(64, 54, 54);
  font-family: 'Architects Daughter';
  font-weight: bold;
  letter-spacing: 3px;
  background: #fffcfc83;
  border: none;
}

.loadCharacter-form input:focus {
  outline: none;
}

.loadCharacter-form input::placeholder {
  font-family: 'Comme';
  font-size: 17px;
  font-weight: 500;
  letter-spacing: normal;
}
/* 
.add-buton {
  margin-bottom: 20px;
} */

.add-buton button {
  width: 130px;
  height: 40px;
  background: rgb(134, 180, 42);
  color: rgb(255, 255, 255);
  font-family: 'Comme';
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.add-buton button:active {
  background: rgb(98, 132, 30);
}


.return-buton {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.return-buton button {
  width: 90px;
  height: 30px;
  background: rgb(139, 139, 245);
  cursor: pointer;
  font-family: 'Comme';
  font-size: 17px;
  font-weight: 500;
}

.loadPart-confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadPart-confirm p {
  font-size: 25px;
  color: rgb(252, 252, 252);
  font-family: 'Architects Daughter';
  font-weight: bold;
  letter-spacing: 3px;
  width: 700px;
}

.loadPart-confirm span {
  font-size: 25px;
  /* color: rgb(252, 252, 252); */
  font-family: 'Architects Daughter';
  font-weight: bold;
  cursor: pointer;
}

.loadPart-confirm_buttons {
  width: 100%;
  padding: 20px 180px 0 180px;
  display: flex;
  justify-content: space-between;
}

.button-yes {
  color: rgb(15, 201, 15);
}

.button-no {
  color: rgb(255, 43, 43);
}

.participants-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* justify-content: center;
  align-items: center; */
}

.participants-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border: 1px solid rgb(185, 116, 27);
}

.pard-card_content {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.part-number {
  font-size: 15px;
  font-family: 'Comme';
  font-weight: 600;
  color: rgb(210, 88, 23);
}

.nickname {
  font-family: 'Architects Daughter';
  font-size: 17px;
  color: rgb(7, 89, 7);
  font-weight: bold;
}

.years-gender_block {
  display: flex;
  font-size: 14px;
  font-family: 'Architects Daughter';
  gap: 17px;
}

.city {
  font-size: 15px;
  font-family: 'Architects Daughter';
  font-weight: bold;
}

.edit-button {
  display: flex;
  justify-content: flex-end;
}

.edit-button span {
  padding: 3px;
  /* border: 1px solid rgb(154, 126, 126); */
  letter-spacing: 5px;
}

.edit-button span:hover {
  cursor: pointer;
  color: rgb(214, 77, 3);
}

.edit_form-buttons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.save-button,
.about-button {
  /* width: 50px; */
  padding: 0 7px 0 7px;
  height: 25px;
  background: rgb(63, 205, 63);
  border: none;
}

.save-button:hover,
.about-button:hover {
  cursor: pointer;
  box-shadow: 2px 5px 20px 2px rgba(34, 60, 80, 0.2) inset;
}

.about-button {
  background: rgb(167, 188, 167);
}

.edit-text {
  margin-right: 10px;
  font-family: 'Comme';
  font-size: 13px;
  font-weight: 300;
  letter-spacing: normal;
  color: #4d4545;
}

.pard-card_content input {
  width: 130px;
  background: none;
  border: none;
  border-bottom: 1px solid #4d4545;
  font-family: 'Comme';
  font-size: 16px;
  font-weight: 300;
}

.pard-card_content input:focus {
  outline: none;
}

.years input {
  width: 50px;
}

.gender input {
  width: 100px;
}