* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-screen,
.app-screen {
  width: 100vw;
  height: 100vh;
  background: rgb(239, 99, 122);
}

.app-screen {
  background: rgb(39, 85, 171);
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.entry-exit {
  width: 100px;
  height: 40px;
  color: aliceblue;
  background: rgb(168, 39, 19);
}